# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datasets
datasets/

# Node.js
node_modules/

# Environment variables
.env

# Uploaded and generated images
backend/uploads/
backend/restored_images/

# Python virtual environments
.venv/
venv/
env/

# Cache files
.pytest_cache/
.mypy_cache/